[Unit]
Description=Sysbox /etc Overlay Mount
Documentation=https://github.com/nestybox/sysbox
Before=sysbox-mgr.service docker.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /dstack/persistent/sysbox-etc-overlay/upper /dstack/persistent/sysbox-etc-overlay/work
ExecStart=/bin/mount -t overlay overlay -o lowerdir=/etc,upperdir=/dstack/persistent/sysbox-etc-overlay/upper,workdir=/dstack/persistent/sysbox-etc-overlay/work /etc
ExecStop=/bin/umount /etc

[Install]
WantedBy=multi-user.target